{
    "trailingComma": "all",
    "quotes": "double",
    "semi": true,
    "endOfLine": "lf",
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid"
}